@model IEnumerable<Restaurant.Models.ItemList>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
                Your cart
            </h4>
        </div>
        <div class="modal-body">
            <table id="cartList">
                <thead>
                    <tr>
                        <td id="carttr"><b>Name</b></td>
                        @*<td id="carttr"><b>Qnty</b></td>*@
                        <td id="carttr"><b>Price</b></td>
                        <td id="carttr"><b>Action</b></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var objItem in Model)
                    {

                        <tr id="@objItem.ItemId">
                            <td id="carttdname">
                                @objItem.Name
                            </td>
                            @*<td id="carttdqty">
                                @QTYField0
                            </td>*@
                            <td id="carttdprice">
                                @objItem.Price
                            </td>
                            <td id="carttdoptions">
                                <span class="cartDel">Remove</span> |
                                <span class="cartAdd">Add</span> |
                                <span class="cartMinus">Minus</span>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
            <span class="totalPrice">Total Amount @ViewBag.Total</span>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button>
            <button type="button" class="btn btn-primary">
                Proceed
            </button>
        </div>
    </div>
</div>

