@model Restaurant.Models.ShoppingCartModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<fieldset>
    <legend>ShoppingCartModel</legend>

    <div class="display-label">UserId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">DeliveryInstructions</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeliveryInstructions)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
