@{
    ViewBag.Title = "Index";
}
<script language="javascript" type="text/javascript">

    //  Initialize the Shopping Cart object
    var m_ShoppingCart = {
        UserId: 10,
        DeliveryInstructions: "Leave at front desk",
        CartItems: []
    };

    function AddToCart(id, itemName, price, quantity) {

        //  Add the item to the shopping cart object
        m_ShoppingCart.CartItems.push({
            "Id": id,
            "ItemName": itemName,
            "Price": price.toFixed(2), //   Issue here if you don't specify the decimal place
            "Quantity": quantity
        });

        //  Render the shopping cart object
        RenderShoppingCart();
    }

    function RenderShoppingCart() {

        $("#CartItemList").html("");

        var totalAmount = 0;

        $.each(m_ShoppingCart.CartItems, function (index, cartItem) {

            var itemTotal = Number(cartItem.Price) * Number(cartItem.Quantity);
            totalAmount += itemTotal;

            $("#CartItemList").append("<li>" + cartItem.ItemName + " - $" + itemTotal.toFixed(2) + "</li>");
        });

        $("#TotalAmount").html("$" + totalAmount.toFixed(2));
    }

    function PostData() {
        $.ajax({
            url: '@Url.Content("~/Store/Checkout")',
            async: false,
            type: "POST",
            data: JSON.stringify(m_ShoppingCart),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR + "-" + textStatus + "-" + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                $("#Results").show();
                $("#ResultMessage").html(data.Message);
            }
        });
    }

    function ResetForm() {

        //  Reset the ui elements
        $("#CartItemList").html("");
        $("#TotalAmount").html("$0.00");
        $("#ResultMessage").html("");

        //  Hide the results
        $("#Results").hide();

        //  Enable all the 'Add to Cart' buttons
        $("input").removeAttr("disabled");

        //  Reset the Shopping Cart object
        m_ShoppingCart.CartItems = [];
    }

</script>
<h2>
    Online Store
</h2>
<div id="DivContainer">
    <div>
        <h3>
            Items
        </h3>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            <tr>
                <td>Book A</td>
                <td>$ 14.95</td>
                <td>1</td>
                <td><input type="button" value="Add to Cart" onclick="javascript:AddToCart(1, 'Book A', 14.95, 1);$(this).attr('disabled',true);" /></td>
            </tr>
            <tr>
                <td>Book B</td>
                <td>$ 17.45</td>
                <td>5</td>
                <td><input type="button" value="Add to Cart" onclick="javascript:AddToCart(2, 'Book B', 17.45, 5);$(this).attr('disabled',true);" /></td>
            </tr>
            <tr>
                <td>Book C</td>
                <td>$ 11.00</td>
                <td>7</td>
                <td><input type="button" value="Add to Cart" onclick="javascript:AddToCart(3, 'Book C', 11.00, 7);$(this).attr('disabled',true);" /></td>
            </tr>
        </table>
    </div>
    <div>
        <h3>
            Shopping Cart
        </h3>
        <ul id="CartItemList"></ul>
        <span>
            <strong>Total Amount: </strong>
        </span>
        <span id="TotalAmount">
            $0.00
        </span>
        <br />
        <a href="javascript:void(0);" onclick="javascript:PostData();">Proceed to Checkout</a>
    </div>
    <div id="Results" style="display: none;">
        <h3>
            Results
        </h3>
        <div id="ResultMessage">
        </div>
        <a href="javascript:void(0);" onclick="javascript:ResetForm();">Reset</a>
    </div>
    <span class="clr"></span>
</div>
