@{
    ViewBag.Title = "Dining/Buffet";
}
@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Food Which Makes You Happy</h2>
            </div>
        </div>
    </div>
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Dining/Buffet</h2>
    <div class="barLine"></div>
    <img src="~/Content/Images/img7.jpg" alt="" class="aboutImg" />
    <p>Donec interdum nisi fringilla velit blandit venenatis ut a elit. Praesent quis neque dui, eget sagittis dolor. Nunc bibendum, enim tempus auctor porttitor, eros lacus consectetur dui, nec ornare ipsum magna eu dolor. Vivamus mattis, lectus nec imperdiet venenatis, lacus leo porta arcu, sed adipiscing est risus ac mauris. Nulla viverra pulvinar pellentesque. Donec non lacus elit. Aliquam nunc lorem, luctus eget congue non, auctor id lacus. Etiam elementum, orci in tempus pulvinar, nibh nisi volutpat nulla, vel gravida elit odio et eros.<br /><br />

Phasellus quam odio, sodales sit amet pretium quis, eleifend at nibh. Phasellus lacinia massa in justo cursus et varius elit volutpat. Nam blandit varius nisl eget consectetur. Duis ac massa nec ligula aliquam posuere. Aenean ultrices mauris id turpis consectetur ac condimentum urna aliquam. Praesent condimentum ullamcorper condimentum. Pellentesque tincidunt ligula vel turpis scelerisque aliquet. Nunc nec vestibulum dolor. Aliquam sit amet mi elit, sed faucibus tellus. Pellentesque viverra ullamcorper ultricies. Aenean sed nunc sit amet metus scelerisque commodo. Ut dolor lorem, posuere vitae pellentesque sit amet, vulputate laoreet nunc.<br /><br />

Vestibulum sit amet purus sit amet dolor posuere tincidunt eu id augue. Mauris lectus nisl, posuere quis vehicula et, ultrices nec justo. Vestibulum auctor elementum lorem quis tempus. In congue placerat justo nec accumsan. Fusce eu sapien vitae ante mattis posuere id porta turpis. Etiam imperdiet mauris vitae nunc sagittis bibendum. Donec nec nunc ligula. Maecenas volutpat molestie dolor. Morbi ut enim eros, et ullamcorper lorem. Pellentesque non arcu eu libero vulputate ornare. Cras et dui velit, eu tempus dolor. Maecenas pellentesque eleifend nunc a euismod. Curabitur elementum dui id sapien suscipit id pretium ligula auctor. Ut urna lectus, rutrum at hendrerit id, bibendum vel arcu.
</p><br />
    <div class="taC"><a href="#" class="btnOnline">Order Online</a></div><br />
</div>
@section scripts {<script type="text/javascript">
    $(function () {
        $('#menuService').addClass('active');
    });
</script>
}