@{
    ViewBag.Title = "Party Hall";
}
@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Authentic Recipes For You</h2>
            </div>
        </div>
    </div>
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Party Hall</h2>
    <div class="barLine"></div>
    <p>
        Vestibulum et dui porta mi placerat suscipit id sagittis lectus. Integer risus felis, mattis et rutrum ac, suscipit sed eros. Nulla facilisi. Sed eu mauris in odio scelerisque tristique. Morbi eu leo sit amet est porta euismod. Donec vulputate sagittis ipsum, ac feugiat tellus suscipit eget. Aliquam blandit leo eget nisi hendrerit vulputate. Donec tempor pretium ipsum id blandit. Donec a adipiscing dolor. Aenean rutrum varius lacinia.<br /><br />

        Nulla facilisi. Proin quis justo in risus imperdiet pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas id massa quis tellus fringilla mattis eu vel dolor. Morbi arcu justo, pharetra vitae dictum vitae, accumsan sit amet justo. Suspendisse potenti. Integer lectus sapien, auctor nec vehicula sit amet, varius quis diam. Duis sed gravida enim. Duis ut ultrices eros.<br /><br />

        Nam eu leo dolor. Suspendisse elementum scelerisque tellus, sed mollis augue imperdiet et. Fusce justo nisl, mattis eu bibendum ut, tincidunt ut enim. Suspendisse potenti. Nulla tincidunt nulla vel quam semper auctor bibendum nulla ultrices. Nulla quis lacus magna. Aenean ac lorem sed ante sodales semper nec at sapien.<br /><br />

        Nam quam augue, viverra id luctus in, porta ac nisl. Cras condimentum tortor eu lectus pellentesque quis elementum sapien vehicula. Nunc blandit purus nec ipsum dapibus fermentum vitae at sem. Fusce laoreet commodo odio et commodo. Praesent lacus nulla, tristique eget tempor ac, ultrices eu quam. Nunc mollis, erat sit amet mollis scelerisque, orci ante sagittis orci, consectetur faucibus dui nisl nec orci. Nam blandit nisl eget felis tincidunt quis hendrerit purus volutpat. Nulla quam elit, condimentum quis rutrum in, volutpat lobortis dolor.
    </p><br />

    <div class="space">
        <h4><b>Terms and conditions</b></h4>
        <div style="border: 1px solid; height: 200px; overflow:auto; padding:20px;">
            <p>1  Meals will be charged for children irrespective of their age.</p>
            <p>2  Service time is limited to 2 hrs.only.</p>
            <p>3  The person ordering is responsible for return of utensils without damage.</p>
            <p>4  Order will be confirmed only after making full payment atleast 2 days before the delivery service date.</p>
            <p>5  Cancellation of order should be done in person and 2 days in advance failing which the charges will not be refunded.</p>
            <p>6  Orders are not confirmed over telephone.</p>
            <p>7  Cheque payments should be done 1 week in advance and in favour of <span><b> "Hot Touch Restaurants Pvt LTD" only</b></span></p>
            <p>8   Post dated cheques will not be accepted.</p>
            <p>9   No other items will be served other than the ordered food.</p>
            <p>10  Minimum numbers for outdoor catering is 100.</p>
            <p>11  Leaf Service - 10% extra, Spot preparation of Poori, Vada, Coffee (Subject to availability)- 25% extra.</p>
            <p>12  No separate charges for cups , table , table mat, tissue papres.</p>
            <p>13  <span><b>Service Tax - 5% Service Charges - 5% VAT - 2% To be added on total value</b></span></p>
        </div>

    </div><br />
    <strong>
        If you have any doubts or clarifications feel free contact us<br />
        Chennai: 000000000<br />
        Other State : 000000000
    </strong>
</div>


@section scripts {
<script type="text/javascript">
    $(function () {
        $('#menuService').addClass('active');
    });
</script>
    }