
@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Food Which Makes You Happy</h2>
            </div>
        </div>
    </div>
}
| <a href="/Category/Index">Category</a>
| <a href="/Product/Index">Product</a>

