@*@model IEnumerable<Restaurant.Models.ItemList>*@
@using Restaurant.Repository

@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Food Which Makes You Happy</h2>
            </div>
        </div>
    </div>
}

@{

    ICategoryRepository iCategoryRepository = new CategoryRepository();
    IProductRepository iProductRepository = new ProductRepository();
}

@foreach (var category in iCategoryRepository.findAll())
{                   
    <h5><a href="#">@category.Name</a></h5>
    
}



<div>

</div>



