@{
    ViewBag.Title = "Menu";
}
@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Food Which Makes You Happy</h2>
            </div>
        </div>
    </div>
}
<h2>Show Database value in DataTable</h2>
<div>
    <div id="product" class="portfolioremove" data-option-key="filter">
        <h2>
            <a class="prolink" href="#filter" data-option-value="*">All <span> </span></a>
            <a class="prolink" href="#filter" data-option-value=".Veg">Veg <span> </span></a>
            <a class="prolink" href="#filter" data-option-value=".Non Veg">Non Veg </a>
            <a class="prolink" href="#filter" data-option-value=".Drinks">Drinks</a>
            <a class="prolink" href="#filter" data-option-value=".Deserts">Deserts </a>
        </h2>
    </div>
</div>

<h2> new code line</h2>


